html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    background-color: rgb(191, 204, 204);
    overflow: auto;
    font-family: "Lato", sans-serif;
    max-width: 500px;
    margin: 0 auto;
    background-image: url("../images/backround.png");
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}